bin/
*/bin/
*/*/bin/
obj/
*/obj/
*/*/obj/
.vs
.idea
.DS_Store
*/.DS_Store
*/*/.DS_Store
/Database/pgdata/postgres_data/*
.fake

**/bin/
**/obj/

/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.API/bin
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.API/obj
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.DAL/bin
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.DAL/obj
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.Models/bin
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.Models/obj
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.Notifications/bin
/TaskBlaster.TaskManagement/TaskBlaster.TaskManagement.Notifications/obj
